
<h1>Характеристики</h1>
@Html.ActionLink("Назад к товарам", "Index")
<table class="table table-bordered">
    <tr>
        <td>Наименование</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Группа</td>
        <td>@Model.Group</td>
    </tr>
    <tr>
        <td>EAN13</td>
        <td>@Model.EAN13</td>
    </tr>
    <tr>
        <td>Цена</td>
        <td>@Model.Price</td>
    </tr>
</table>
