@*  still working?! WTF...?!
    @using WebStore.Models
    @model IEnumerable<Goods>
*@
@model IEnumerable<WebStore.Domain.Models.GoodsView>

@{
    ViewData["Title"] = "Товары";
}

<h1>Товары</h1>
<a asp-action="Edit" class="btn btn-success">Добавить</a>
<div class="container">
    <table class="table">
        @foreach (var item in Model)
        {
        <tr>
            <td><a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></td>
            <td>@item.Description</td>
            <td>@item.Group</td>
            <td>@item.Price</td>
            <td>@item.EAN13</td>
            <td>
                @Html.ActionLink("Подробнее...", "Details", new { id = item.Id })
            </td>
            <td><a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o"></i></a></td>
            </tr>
        }
    </table>
</div>
